<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p> 

  <p>
    <strong>User Name:</strong>
    <%= user.username %>
  </p> 

  <p>
    <strong>Designation:</strong>
    <%= user.designation %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= user.active %>
  </p>
  
  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.gender %>
  </p>

  <p>
    <strong>Hospital_id:</strong>
    <%= user.hospital_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Illness record:</strong>
    <%= user.illness_record %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= user.feedback %>
  </p>

  <p>
    <strong>Prescription:</strong>
    <%= user.prescription %>
  </p>

  <p>
    <strong>Amount paid:</strong>
    <%= user.amount_paid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

</div>