<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Illness record:</strong>
    <%= patient.illness_record %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= patient.feedback %>
  </p>

  <p>
    <strong>Prescription:</strong>
    <%= patient.prescription %>
  </p>

  <p>
    <strong>Amount paid:</strong>
    <%= patient.amount_paid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= patient.status %>
  </p>

</div>
